/* CSS Document */
.jumbotron{
    width: 900px;
    text-align:center;
    margin-left:auto;
    margin-right: auto;
    margin-top:15px;
    padding-left: 50px;
    padding-right: 50px;
    }
    
    .jumbotron h3{
        margin-top: 0;
        padding-bottom: 10px;
        color: cadetblue;
        background-color: darkblue;
        border-radius: 5px;
        text-align: center;
        height: 30 px;
    }
    
    .table{
    margin-top: 15px;
    }
    
    .form{
    margin-bottom: 20px;
    }
    
    .selecionado{
        background-color: rgb(161, 224, 240);
    }